<div class="features-container">
  <div class="alignment-container">
    <div class="title">
      Lorem ipsum <strong>dolor sit</strong> amet
    </div>
    <div class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et dui sed augue mollis accumsan. Nulla id
      accumsan tortor. Suspendisse potenti. Sed consequat felis at erat accumsan, eget maximus diam accumsan. Ut
      hendrerit, lectus ut consequat ornare, mi ex posuere magna, ac scelerisque augue odio sed magna. Integer
      fringilla ipsum.
    </div>
    <div class="features">
      <div class="feature" id="first">
        <i class="fa fa-desktop" aria-hidden="true"></i>
        <div class="title">
          Lorem ipsum dolor sit amet
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et dui sed augue mollis accumsan. Nulla id
          accumsan tortor.
        </div>
      </div>
      <div class="feature" id="second">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <div class="title">
          Lorem ipsum dolor sit amet
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et dui sed augue mollis accumsan. Nulla id
          accumsan tortor.
        </div>
      </div>
      <div class="feature" id="third">
        <i class="fa fa-picture-o" aria-hidden="true"></i>
        <div class="title">
          Lorem ipsum dolor sit amet
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et dui sed augue mollis accumsan. Nulla id
          accumsan tortor.
        </div>
      </div>
    </div>
  </div>
</div>
