@font-face {
  font-family: Pacifico; /* Имя шрифта */
  src: url('../fonts/Pacifico-Regular.ttf');
}

@font-face {
  font-family: OpenSans; /* Имя шрифта */
  src: url('../fonts/OpenSans-Regular.ttf'); /* Путь к файлу со шрифтом */
}

@font-face {
{
  font-family: PTSans;
  src: url('../fonts/PT_Sans-Web-Regular.ttf');
}
}
