@font-face {
  font-family: Pacifico; /* Имя шрифта */
  src: url('../fonts/Pacifico-Regular.ttf');
}

@font-face {
  font-family: OpenSans; /* Имя шрифта */
  src: url('../fonts/OpenSans-Regular.ttf'); /* Путь к файлу со шрифтом */
}
