img {
  width: 100%;
}

.description {
  font-family: PTSans;
  color: #818181;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.title {
  font-family: OpenSans;
  color: #717070;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}

.text {
  margin: 10px;
}


