<div class="menu-container alignment-container">
  <div class="menu">
    <span id="home"><a href="#">HOME</a></span>
    <span id="about"><a href="#">ABOUT AS</a></span>
    <span id="service"><a href="#">SERVICE</a></span>
    <span id="pages"><a href="#">PAGES</a></span>
    <span id="blog"><a href="#">BLOG</a></span>
    <span id="contact"><a href="#">CONTACT AS</a></span>
    <div id="slider"></div>
  </div>
  <div class="search">
    <input id="menu-search" type="text" placeholder="Search Something">
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
</div>
